table {
	&.VueTables__table {
		@media (max-width: 767px) {
			border-collapse: collapse;
			tr {
				border: 1px solid #eee;
				border-radius: 15px;
				display: block;
				margin: 8px;
			}
			td {
				display: block;
			}
		}

		*:focus {
			outline: none;
		}

		border-spacing: 0;
		margin-top: 10px;
		border-radius: 15px;
		padding: 10px;
		border: 1px solid #eee;
		width: 100%;

		td,
		th {
			padding: 10px;
			text-align: left;

		}

		tbody {
			tr {
				border-radius: 15px;
				transition: .4s ease all;

				&:hover {
					background-color: #eee;
				}
			}
		}
	}
}

